*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #121214;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    color:white;
    text-transform: uppercase;
}
.container-flex{
    background-color: #202024;
    padding: 20px;
    width: 1000px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
}
.container-add-dados-alunos{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content:center;
    width: 500px;

}
.container-btn-input{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: flex-end;
    justify-content: flex-start;
    width:340px;
}
.container-input-aluno{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.container-flex-end{
    display: flex;
    align-items: flex-end;

}
.container-nota{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.container-select-input{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 340px;
}
.container-select-aluno{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.container-input-btn-notas{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.container-erro{
    width: 340px;
    height: 50px;
    text-align: center;
    overflow-y: scroll;
   
}

#aviso{
    color: red;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
