@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
:root{
    --bg-color: #16151f;
    --font-color-white: white;
    --font-color-titles: #C18C92;
    --font-size: 65.6%;
    --border-color: #312F34;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
a{
    color: var(--font-color-white);
}

body{
    background-color: var(--bg-color);
    color: var(--font-color-white);
    font-size: var(--font-size) ;
    text-align: center;
}
.title, .subtitle{
    text-transform: uppercase;
}
.subtitle{
    font-size: 1.3rem;
}
.title{
    font-size: 2rem;
    color: var(--font-color-titles);
}
.container-titles{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-bottom: 2px solid var(--border-color);
    padding: 20px;
}

.container-projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    width: 90%;
    margin: auto;
    padding: 20px;
    gap: 40px;
}

.container-project{
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 490px;
    margin: auto;
    
}
.details{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20vh;
    background-color: hsl(320, 10%, 5%, 0.8);
    width: 100%;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    transform: translateY(170px);
    transition: 0.5s ease-out;
}
.title-project, .desc-project{
    color: var(--font-color-white);
}
.desc-project{
    font-size: 0.8rem;
    height: 50px;
}
.title-project{
    font-weight: 900;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px black;
}
.figure-project, .figure-project img{
    width: 100%;
    max-width: 490px;
    border-radius: 20px;
}
.figure-project{
    display: flex;
    align-items: center;
    justify-content: center;
}
.github, .play{
    font-size: 1.3rem;
}
.play{
    margin-left: 20px;
}
.github:hover, .play:hover{
    color: var(--font-color-titles);
}
.container-links div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-links{
    display: flex;
}
.container-project:hover{
    transform: scale(1.05);
}
.container-project:hover .details{
    transform: translateY(0);
}
