.container-desc{
    background-color: white;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    padding: 12px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 12px -12px rgba(0, 0, 0, 0.2);
}

.container-grid{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    row-gap: 30px;
    width: 100%;
}

.container-servico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-icon{
    background-color: rgb(100, 41, 53);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

.titulo-servicos{
    font-size: 40px;
}

.sub-servicos{
    font-size: 30px;
}

.servico{
    display: flex;
    flex-direction: column;
    height: 700px;
    padding-top: 120px;
    text-align: center;
    row-gap: 30px;
}
@media(max-width:1000px){
    .container-grid{
        grid-template-columns: 100%;
    }
    .servico{
        height: 100%;
    }
}