@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    position: absolute;
    top: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
   
    color: white;
    text-align: center;
    position: relative;
}


#btn-list{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

#btn-list:hover img{
    filter: saturate(3);
}
main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.container-img{
    margin: auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.pokebola{
    width: 100%;
    max-width: 400px;
}
.container-img-pokemon{
    position: absolute;
    width: 100%;
    max-width: 350px;
    
}
#img-pokemon{
    width: 100%;
    max-width: 350px;
    filter: brightness(0);
}
.container-letters{
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.letter{
    width: 100%;
    max-width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #CFCFCF;
}

.container-input-button{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: #9B4D4D;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.container-input-button input{
    text-transform: uppercase;
    text-align: center;
    height: 39px;
    background: #D9D9D9;
    border-radius: 20px;
    border: 0;
}

.container-input-button button{
    width: 203px;
    height: 80px;
    border: 0;
    text-transform: uppercase;
    color:white;
    background: #9B4D4D;
    border-radius: 20px;
}