@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #9B4D4D;
    --font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: #692d2d;
}
.container, .container-input-button button, .container-input-button input{
    font-family: var(--font-family);
}

.container {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
   
    color: white;
    text-align: center;
    position: relative;
}

#btn-list{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

#btn-list:hover img{
    filter: saturate(3);
}

main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.container-img{
    margin: auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.pokebola{
    width: 100%;
    max-width: 400px;
}

.flash{
    border-radius: 50%;
    width: 100%;
    max-width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    
}
.animationFlash{
    animation: animationCapture 2.2s linear forwards;
}
.animationRevealPokemon{
    animation: animationReveal 2.2s linear forwards;
}

.container-img-pokemon{
    position: absolute;
    width: 100%;
    max-width: 350px;
}

#img-pokemon{
    width: 100%;
    max-width: 350px;
    filter: brightness(0);  
}

.container-letters{
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    border: 2px solid transparent;
}

.active-complet-name:hover{
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.2);
    cursor: pointer;
}
.active-complet-name:hover .letter{
    background-color: white;
}

.letter{
    width: 100%;
    max-width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #dddddd;
    color: var(--bg-color);
    font-size: 3.6rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    border: 2px solid var(--bg-color);
}

.container-input-button{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: var(--bg-color);
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.container-input-button input{
    text-transform: uppercase;
    text-align: center;
    height: 39px;
    background: #d1d1d1;
    border-radius: 50%;
    width: 39px;
    border: 0;
}

.container-input-button button{
    padding: 20px;
    border: 0;
    text-transform: uppercase;
    color:white;
    background: var(--bg-color);
    border-radius: 20px;
    cursor: pointer;
}

.container-input-button button:hover{
    color:#f0bebe;
    background: #a75656;
}

.modal-submit-letters{
    position: fixed;
    top: 20px;
    right: 20px;
    font-family: var(--font-family);
    color: white;
    width: 240px;
    text-align: center;
    padding: 20px;
    background-color: #692d2d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-transform: uppercase;
    visibility: hidden;
    
}

.erro-letter{
    animation: animation 1s ease-out;
}

@keyframes animation {
    0%{
        transform: rotate(-10deg) translateX(-20px);
    }
    50%{
        transform: rotate(10deg) translateX(20px);
    }
    100%{
        transform: rotate(-10deg) translateX(-20px);
    }
}

@keyframes animationCapture {
    0%{
        box-shadow: inset 0 0 0px white, 0 0 0px white;
    }
    100%{
        box-shadow: inset 0 0 100px 100px white, 0 0 108px 220px white;
    }
 }

 @keyframes animationReveal{
    0%{
        filter: brightness(0);
    }
    100%{
        filter: brightness(1);
    }
 }

.container-modal, .container-modal-list{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.container-modal-list{
    visibility: hidden;
}
.center{
    display: none;
    padding: 20px;
    align-items:center;
    justify-content: center;
}
.modal-name-pokemon{
    width: 100%;
    max-width: 500px;
    background-color: var(--bg-color);
    border-radius: 20px;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-family: var(--font-family);
    text-align: center;
}
.modal-name-pokemon div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.close{
    float: right;
    cursor: pointer;
}

.modal-name-pokemon input{
    padding: 10px;
    border-radius: 20px;
}

.submit-name{
    padding: 20px;
    background-color:#692d2d;
    text-transform: uppercase;
    color:white;
    border-radius: 20px;
    border: 0;
    width: 200px;
    margin: auto;
    cursor: pointer;
}

.submit-name:hover{
    background-color:#753737;
    color:#e6c1c1;
}

.icon-new{
    position: absolute;
    top: 30px;
    left: 80px;
    max-width: 35px;
    animation: animationIconNew 1s linear infinite;
    visibility: hidden;
}

@keyframes animationIconNew{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}


