.bug{
    background-color: #729f3f;
}
.dark{
    background-color: #636388;
}
.dragon{
    background-color: #16adbb;
}
.eletric{
    background-color: #eed535;
}
.fairy{
    background-color: #fdb9e9;
}
.fighting{
    background-color: #d56723;
}
.fire{
    background-color: #fd7d24;
}
.flying{
    background-color: #85b3c8;
}
.ghost{
    background-color: #7b62a3;
}
.grass{
    background-color: #9bcc50;
}
.ground{
    background-color: #794513;
}
.ice{
    background-color: #b4dfe6;
}
.normal{
    background-color: #a4acaf;
}
.poison{
    background-color: #b97fc9;
}
.psychic{
    background-color: #f366b9;
}
.rock{
    background-color: #a38c21;
}
.steel{
    background-color: #9eb7b8;
}
.water{
    background-color: #4592c4;
}

.container-cards{
    width: 300px;
    height: 100%;
    background-color: white;
    padding: 25px;
    text-align: center;
    font-family: var(--font-family);
    text-transform: uppercase;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.container-cards::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
.container-cards::-webkit-scrollbar-thumb{
    background-color: var(--bg-color);
}
.container-cards h2{
    font-size: 2rem;
    color:var(--bg-color);
}
.container-cards ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.container-cards ul li{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.container-cards ul li img{
    width: 100px;
    max-width: 350px;
}
