.bug{
    background-color: #729f3f;
}
.dark{
    background-color: #636388;
}
.dragon{
    background-color: #16adbb;
}
.eletric{
    background-color: #eed535;
}
.fairy{
    background-color: #fdb9e9;
}
.fighting{
    background-color: #d56723;
}
.fire{
    background-color: #fd7d24;
}
.flying{
    background-color: #85b3c8;
}
.ghost{
    background-color: #7b62a3;
}
.grass{
    background-color: #9bcc50;
}
.ground{
    background-color: #794513;
}
.ice{
    background-color: #b4dfe6;
}
.normal{
    background-color: #a4acaf;
}
.poison{
    background-color: #b97fc9;
}
.psychic{
    background-color: #f366b9;
}
.rock{
    background-color: #a38c21;
}
.steel{
    background-color: #9eb7b8;
}
.water{
    background-color: #4592c4;
}

.container-cards{
    width: 300px;
    height: 100%;
    background-color: white;
    text-align: center;
    font-family: var(--font-family);
    text-transform: uppercase;
    overflow-y: scroll;
    row-gap: 5px;
    transition: translate 0.5s;
    translate: -300px;
    padding: 20px 0px;
}

.container-title-input, .container-cards, .container-title-input div{
    display: flex;
    flex-direction: column;
}

.container-title-input div{
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.container-title-input, .container-title-input div{
    row-gap: 10px;
}

.modal-visible{
    translate:0;
}

.container-title-input div input{
    border: 1px solid #A9A9A9;
    background-color: #E9E9E9;
    border-radius: 5px;
    padding: 2px 10px;
    width: 200px;
}
.container-title-input div label{
    color: var(--bg-color);
}

.container-cards::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
.container-cards::-webkit-scrollbar-thumb{
    background-color: var(--bg-color);
}
.container-cards h2{
    font-size: 2rem;
    color:var(--bg-color);
}
.container-cards ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.container-cards ul li{
    width: 100%;
    height: 100%;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    color: #5a5a5a;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}
.container-cards ul li div{
    width: 290px;
    height: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 5px 30px;
    transition: all 1s linear;
}
.container-cards ul li img{
    width: 100px;
    max-width: 350px;
}
.close-list{
    float: right;
    cursor: pointer;
    color: #5f5f5f;
}
.container-close{
    padding: 0px 20px;
}