@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --bg-color: #121214;
    --bg-color-modal: rgba(38, 38, 44, 0.74);
    --font-family: 'Inconsolata', monospace;
    --bg-radio: rgba(0, 0, 0, 0.37);
    --border-color: #e79898;
    --bg-color-btn: #d68787;
    --bg-color-error: #794545;
    --bg-color-bar:#b88484;
    --bg-modal-accessibilty: #212125;
}

html, 
body{
    height: 100vh;
}

body{
    background-color: var(--bg-color);
   
    font-family: var(--font-family);
}

.container,
.container-logo-title,
.container-radio,
.container-number-timer,
.label-radio,
.modal-accessibility{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container-main{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: 100vh;
    padding: 20px;
    width: 100% !important;
    display: flex;
    align-items: center;
    visibility: hidden;

}

.container-main header{
    width: 70vw;
    background-color: var(--bg-color-modal);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.value-attempts{
    color: var(--border-color);
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 70vw;
}

.card{
    background-color: var(--bg-color-modal);
    position: relative;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    position: relative;
    z-index: 2;
}

.card,
.face{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.back{
    backface-visibility: hidden;
}

.back,
.front{
    background-size: cover;
    background-position: center;
}

.front{
    border-radius: 20px;
    transform: rotateY(180deg);
    position: relative;
}

.front .imageCard{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    z-index: -2;
}

.name{
    opacity: 0;
    position:absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    font-size: 0.3rem;
    width: 100%;
    height: 130px;
    border-radius: 20px;
}

.rotate-card{
    transform: rotateY(180deg);
}

.card-equals{
    animation: animation 1s ease-in-out forwards;
}

.face{
    position: absolute;
    cursor: pointer;
}

.container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.modal{
    background-color: var(--bg-color-modal);
    width: 100%;
    max-width: 504px;
    border-radius: 20px;
    padding: 20px;
}

.container-logo-title,
.modal,
.container-main,
.container-dificult,
.container-customize,
.container-option, 
.container-timer{
    display: flex;
    flex-direction: column;
}

.container-logo-title,
.modal,
.container-dificult,
.container-option,
.container-customize,
.container-timer{
    row-gap: 15px;
}

.container-logo-title{
    text-transform: uppercase;
}

.container-logo-title img{
    width: 100%;
    max-width: 200px;
}

.container-radios{
    row-gap: 20px;
}

.container-radio{
    display: flex;
    position: relative;
}

.radio{
    appearance: none;
    background-color: var(--bg-radio);
    cursor: pointer;
}

.radio, .label-radio{
    width: 100%;
    max-width:369px;
    height: 47px;
    border-radius: 20px;
}

.label-radio{
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    cursor: pointer;
}

.container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-btn button{
    padding: 25px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: var(--bg-radio);
    color: white;
    border: none;
    cursor: pointer;
}

.container-btn button:hover,
input[type="radio"]:checked{
    border: 1px solid var(--border-color);
}

input[type="radio"]:checked + label,
.container-btn button:hover{
    color: var(--border-color);
}

.winner{
    color: green;   
}

.timerWinner,
.winner,
.container-dificult, .align-text{
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
}

.container-dificult ul{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    list-style: none;
    
}

.container-dificult li{
    padding: 10px;
    transition: all 0.5s linear;
    cursor: pointer;
    border-radius: 10px;
}

.active{
    background-color:var(--border-color);
    color: var(--bg-color);
}

.container-options{
    display: flex;
    column-gap: 20px;
    padding: 10px;
}

.container-number-timer{
    column-gap: 10px;
}

#range-timer, .range-timer{
    visibility: hidden;
}

.range-timer{
    color: var(--border-color);
}

.number-timer{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--bg-color);
    border-radius: 3px;
    position: relative;
    
}

.number-timer:checked{
    border: 2px solid var(--border-color);
    background-image: url('../img/Vector.svg');
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
}

.customize{
    height: 150px;
    animation: animationCustomize 3s ease-in forwards;
    visibility: visible;
}

.normal{
    height: 0;
    opacity: 0;
    visibility: hidden;
    animation: none;
}

.container-customize{
    align-items: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: center;
    transition: height 0.5s ease;
}

.container-customize input[type='number']{
    width: 70px;
    padding: 5px;
    margin: auto;
    background-color: white;
}

.cards{
    color: var(--border-color);
}

.modal-error{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: var(--bg-color-error);
    height: 100px;
    border-radius: 5px;
    visibility: hidden;
}
.container-message{
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}
.loading-bar{
    width: 0%;
    background-color: var(--bg-color-bar);
    height: 3px;
    border-bottom-left-radius: 5px;
    transition: all 0.5s linear;
}

@media(max-width: 800px){
    
    .container-cards{
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        width: 100vw;
    }
    
    .card,
    .face{
        height: 130px;
    }
    
    .container-main header{
        width: 100vw;
    }
}

@keyframes animationCustomize{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes animation{
    from{
        filter: saturate(1);
        opacity: 1;
    }
    to{
        filter: saturate(0);
        opacity: 0.5;
    }
}

.btn-modal-accessibility, .btn-active-accessibility{
    padding: 10px;
    text-transform: uppercase;
    background-color: var(--border-color);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    float: right;
}

.btn-modal-accessibility:hover, .btn-active-accessibility:hover{
    background-color: var(--bg-color-btn);
    color: white;
}

.btn-modal-accessibility{
    border-radius: 50%;
}

.btn-active-accessibility{
    border-radius: 20px;
}

.close{
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
}

.text-check{
    color: var(--border-color);
}

.align-text .alert-desc{
    text-align: justify;
}

.disabled{
    visibility: hidden;
}

.bg-color{
    background-color: var(--bg-modal-accessibilty);
    border: 2px solid var(--border-color);
}