@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #121214;
    --bg-color-modal: rgba(38, 38, 44, 0.74);
    --font-family: 'Inconsolata', monospace;
    --bg-radio: rgba(0, 0, 0, 0.37);
    --border-color: #e79898;
}
html, body{
    height: 100vh;
}

body{
    background-color: var(--bg-color);
   
    font-family: var(--font-family);
}
.container, .container-logo-title, .container-radio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-main{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: 100vh;
    padding: 20px;
    width: 100% !important;
    display: flex;
    align-items: center;
    visibility: hidden;

}

.container-main header{
    width: 70vw;
    background-color: var(--bg-color-modal);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.card{
    background-color: var(--bg-color-modal);
    position: relative;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}
.card,.face{
    width: 150px;
    height: 200px;
    border-radius: 10px;
}
.back{
    background-image: url('../img/rickandmorty.png');
    backface-visibility: hidden;
}
.back, .front{
    background-size: cover;
    background-position: center;
}
.front{
    border-radius: 20px;
    transform: rotateY(180deg);
    background-image: url('../img/memory.png');
}

.rotate-card{
    transform: rotateY(180deg);
}

.card-equals{
    animation: animation 1s ease-in-out forwards;
}



@keyframes animation{
    from{
        filter: saturate(1);
        opacity: 1;
    }
    to{
        filter: saturate(0);
        opacity: 0.5;
    }
}

.face{
    position: absolute;
    cursor: pointer;
}


.container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}
.modal{
    background-color: var(--bg-color-modal);
    width: 100%;
    max-width: 504px;
    
    border-radius: 20px;
    padding: 20px;
    
}

 .container-logo-title, .modal, .container-main{
    display: flex;
    flex-direction: column;
}

.container-logo-title, .container-radio, .container-main{
    color: white;
}

.container-logo-title, .modal{
    row-gap: 30px;
}

.container-logo-title{
    text-transform: uppercase;
}

.container-logo-title img{
    width: 100%;
    max-width: 200px;
}

.container-radios{
    row-gap: 20px;
}

.container-radio{
    display: flex;
    position: relative;
}



.radio{
    appearance: none;
    width: 100%;
    max-width:369px;
    height: 47px;
    background-color: var(--bg-radio);
    border-radius: 20px;
    cursor: pointer;
}
.label-radio{
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    cursor: pointer;
}
.container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-btn button{
    padding: 25px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: var(--bg-radio);
    color: white;
    border: none;
    cursor: pointer;
}
.container-btn button:hover, input[type="radio"]:checked{
    border: 2px solid var(--border-color);
}

input[type="radio"]:checked + label, .container-btn button:hover{
    color: var(--border-color);
}

.winner{
    color: green;
    
}
.timerWinner{
    color: white;
}
.timerWinner, .winner{
    text-align: center;
    font-size: 1.6rem;
}