html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 58);
    height: 99vh;
}
.caixa{
    width: 50px;
    height: 30px;
    background-color: crimson;
    position: absolute;
    bottom:0px;
    left:0px;
    border-radius: 30px;
}
.obstaculo{
    width: 700px;
    height: 700px;
    background-color: black;
    border: solid 3px rgb(32, 32, 71);
    z-index: 1;
    position: relative;
    overflow-anchor:unset;
}