@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #2b2b2b;
}

.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.painel{
    width: 500px;
    height: 100px;
    background-color: #121214;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    font-size: 32px;
    
}
.resultado{
    overflow-x: scroll;
    overflow-y:hidden;
}
.container-btns-app{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
.btn{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4e4;
    border: 1px solid rgb(201, 201, 201);
    font-size: 25px;
    color: rgb(78, 78, 78);
    cursor: pointer;
}
.container-btns-number-result{
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
}
.btn-equal{
    font-size: 25px;
    height: 256px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(78, 78, 78);
    background: rgb(238,142,41);
    border-bottom-right-radius: 20px;
    background: linear-gradient(4deg, rgba(238,142,41,1) 0%, rgba(255,133,133,1) 100%);
    cursor: pointer;     
}
.container-btns-number{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}
.border-bottom-left-radius{
    border-bottom-left-radius: 20px;
}
.btn:hover{
    box-shadow: inset 0 0 8px #b9b9b9;

}
.btn-equal:hover{
    color: rgb(90, 90, 90);
    box-shadow: inset 0 0 15px rgb(131, 75, 75);
}

.resultado::-webkit-scrollbar, .resultado::-webkit-scrollbar-button, .resultado::-webkit-scrollbar-track, .resultado::-webkit-scrollbar-track-piece, .resultado::-webkit-scrollbar-corner, .resultado::-webkit-resizer{
    background-color: transparent;
}
.resultado::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.3);
    height: 10px;
}