@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@800&display=swap');
body {
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
  background-color: rgb(22, 22, 36);
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
 
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  font-size: 70px;
  font-family: 'Saira Condensed', sans-serif;
}
.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body>img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}
.container-inputs-add{
  border-radius: 20px;
  background-color:rgba(0, 0,0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.container-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  color: white;
  text-transform: uppercase;
  align-items: cente;
  justify-content: center;
  
}

.container-input {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.container-input div {
  display: flex;
  flex-direction: row;
  row-gap: 0;
}

.container-input input {
  width: 325px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(39, 39, 39);
}

.container-input select {
  width: 160px;
  padding: 10px;
  border: none;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(39, 39, 39);
}

.container-input button,
.container-criar .centraliza .main-categoria .container-listas div button {
  width: 190px;
  padding: 10px;
  border: none;
  border-radius: 0px 20px 20px 0px;
  background-color: rgba(39, 25, 56, 0.6);
  color: white;
  cursor: pointer;
}

.container-input button:hover,
.container-criar .centraliza .main-categoria .container-listas div button:hover {

  background-color: rgba(49, 33, 70, 0.6);
  color: rgba(205, 164, 255, 0.6);
}
.container-categoria{
  display: flex;
  flex-direction: row; 
  width: 90%;
  overflow-x: auto;
  height: 60px;
  align-items: center;
  gap: 20px;
}
.container-movie{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 40px;
  width: 90%;
  justify-content: center;
}

.container-categoria button,
.container-criar .centraliza .main-categoria .container-btncategoria button {
  width: 150px;
  padding: 10px;
  background-color: rgb(92, 45, 55);
  color: white;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.container-categoria button:hover,
.container-criar .centraliza .main-categoria .container-btncategoria button:hover {

  background-color: rgb(104, 51, 62);
  color: rgb(255, 188, 202);

}

.container .container-btnAdd button {
  border: none;
  color: white;
  background-color: rgb(40, 40, 77);
  border-radius: 20px;
  padding: 20px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}

.container .container-btnAdd button:hover {
  color: rgb(190, 190, 255);
  background-color: rgb(50, 50, 94);
}

.container  .container-capa .container-desc {
  position: relative;
  bottom: 101%;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  height: 100%;
  padding: 8px;
  transition: 0.5s ease-in-out;
  transform: translateY(800px);
  overflow-y: scroll;
  display: block;
  
}
.container  .container-capa:hover .container-desc{
  transform: translateY(0px);
}
.container .container-capa .container-desc h4 {
  width: 230px !important;
}

.container .container-capa .container-desc p {
  margin: 0;
  padding:0px 0px 14px 8px;
  text-align: justify;
  font-size: 15px;
  color: white;
  width: 230px;
}
.container .container-capa .container-desc h4{
  text-align: center;
  color: white;
  width: 200px;
}
.container  .container-capa {
  overflow-y: hidden !important;
  height: 375px;
}

.container .container-capa img {
  min-height: 375px;
}


/* estilizando scroll */
.container-categoria::-webkit-scrollbar, .container-movie .container-capa .container-desc::-webkit-scrollbar{
  background-color: rgba(104, 51, 62, 0);
 
}
.container-categoria::-webkit-scrollbar-button, .container-movie .container-capa .container-desc::-webkit-scrollbar-button{
  background-color: rgba(104, 51, 62, 0);
}
.container-categoria::-webkit-scrollbar-thumb , .container-movie .container-capa .container-desc::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.322);
  border-radius: 20px;
}

footer{
  padding: 30px;
  color: white;
  text-align: center;
}
footer a{
  color: white;
  text-decoration: none;
}

@media(max-width:700px){
  .container-inputs {
    grid-template-columns: 1fr;
  }
  .container-input input {
    width: 225px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(39, 39, 39);
  }
  
  .container-input select {
    width: 120px;
    padding: 5px;
  }
  .container-input button {
  width: 120px;
  padding: 5px;
}
.container-inputs-add{
  padding: 20px;
  row-gap: 30px;
}
}